$color1: #6b717f;
$color2: #fff;
$color3: #BF4080;
$color4: green;
$color5: #8C8C8C;
$color6: red;
$color7: orange;
$color8: #000;
$color9: #d62828;
$color10: #cfb700;
$padding1: 25px;
$padding2: 0px 25px;

@mixin shadow-box($color) {
    -webkit-box-shadow: 10px 10px 15px -4px $color;
    -moz-box-shadow: 10px 10px 15px -4px $color;
    box-shadow: 10px 10px 15px -4px $color;
}

@for $i from 1 through 6 {
    ul.advantages {
        li:nth-child(#{$i}) {
            $colorbgafter: darken($color9, $i * 5%);
            $colorbgbefore: darken($color9, calc($i - 1) * 5%);
            color: lighten($color10, $i * 10%);
            background: linear-gradient(to bottom, $colorbgbefore, $colorbgafter)
        }
    }
}