@import "_partial";

body {
    font: 100% "Space Mono", monospace;
    color: $color1;
    margin: 0;
    padding: $padding1;
    background-color: $color2;
    overflow-x: hidden;

    h1,
    h2,
    h3 {
        color: $color3;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
        font-size: 1.5em;
        padding: #{$padding1 * 2};
        margin-bottom: 0px;
    }

    main {
        padding: $padding2;

        .messages {
            padding: $padding1;

            .success {
                background-color: $color4;
                border: 1px solid $color5;
                padding: $padding1;
                color: $color2;
            }

            .error {
                @extend .success;
                background-color: $color6;

                &:hover {
                    background-color: $color4;
                }
            }

            .warning {
                @extend .success;
                background-color: $color7;
            }
        }

        article {
            display: flex;
            flex-wrap: wrap;
            padding: $padding1;

            section {
                flex-grow: 1;
                flex-basis: 45%;
                border: 1px $color5 solid;
                @include shadow-box($color1);
                padding: $padding1;
                margin: 16px;
                clear: both;
                overflow: auto;
                box-sizing: border-box;

                &#selling-points {
                    flex-grow: 2;
                    flex-basis: 100%;
                }

                code {
                    background: $color8;
                    border: 1px solid $color1;
                    color: $color5;
                    page-break-inside: avoid;
                    font-family: monospace;
                    font-size: 15px;
                    line-height: 1.6;
                    margin-bottom: 1.6em;
                    max-width: 100%;
                    overflow: auto;
                    padding: $padding1;
                    display: block;
                    word-wrap: break-word;

                    &.before {
                        float: left;
                        width: 40%;
                    }

                    &.after {
                        float: right;
                        width: 40%;
                    }
                }

            }
        }
    }
}